@media (max-width: 767px) {
    article {
        width: calc(100% - var(--space-huge));
        max-width: calc(100% - var(--space-huge));
    }

    .view-1 article {
        margin-top: -40%;
    }

    .eval-wave {
        width: 20% !important;
    }

    .grade-fader {
        background: linear-gradient(90deg, var(--color-bg-primary) 2%, rgba(0, 0, 0, 0.00) 50%, var(--color-bg-primary) 98%);

    }

    .chart-reflection {
        display: none;
        visibility: hidden;
    }

    .chart-reflection-fader {
        display: none;
        visibility: hidden;



    }

    .view-6 {

        margin-bottom: var(--space-zero);
    }

}